services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: project_app
    restart: unless-stopped
    volumes:
      - ./:/var/www
    networks:
      - project_network

  nginx:
    image: nginx:alpine
    container_name: project_nginx
    restart: unless-stopped
    ports:
      - "5001:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
    networks:
      - project_network

networks:
  project_network:
    driver: bridge