services:
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: project_phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "5002:80"
    depends_on:
      - mysql
    networks:
      - project_network

networks:
  project_network:
    driver: bridge